.pin-container {
  display: flex;
  margin: 0 auto;
  width: 80vw;
  max-height: 80vh;
  border-radius: 32px 32px 32px 32px;
  box-shadow: grey 0px 0px 12px;
}

.pin-half {
  width: 50%;
}

.pin-image img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 32px 0px 0px 32px;
}

.pin-text {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.comments-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.new-comment-container {
  border-top: 1px solid lightgray;
}

.new-comment-container > form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.new-comment-container textarea {
  width: 80%;
  padding: 1em;
  background-color: lightgray;
  border: none;
  border-radius: 30px;
  resize: none;
}

.new-comment-container button {
  width: 5em;
  height: 3em;
  background-color: #e60022;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 30px;
}

.comments textarea {
  resize: none;
}