/* TODO Add site wide styles */

* {
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid red; */
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0.25em;
}

li {
  list-style-type: none;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --card_width: 250px;
  --card_border_radius: 16px;
  --row_increment: 10px;
  --card_small: 26;
  --card_medium: 33;
  --card_large: 45;
}