.nav-bar {
  padding: 1em;
  height: 3em;
  display: flex;
  justify-content: space-between;
}

.nav-bar > * {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
}

.profile-dropdown {
  padding: 0.5em;
  position: absolute;
  min-width: 120px;
  z-index: 10;
  right: 1em;
  top: 3.5em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  background-color: white;
  border-radius: 10px;
  box-shadow: grey 0px 0px 12px;
}

.profile-dropdown > * {
  width: 100%;
}

.profile-dropdown button {
  width: 100%;
}

.profile-dropdown-button > button {
  border-radius: 50px;
}

.nav-bar form {
  flex: .6 1;
}

.search-bar {
  height: 2em;
  width: 100%;
  padding: 1em;
  background-color: lightgrey;
  border-radius: 2em;
}

.hidden {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #e60022;
}

.logo-img {
  height: 64px;
  width: 64px;
}

.nav-bar .active {
  color: white;
  background-color: black;
}

.nav-button {
  padding: 1em;
  border-radius: 50px;
}

.login-button {
  width: 5em;
  height: 3em;
  background-color: #e60022;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 25px;
}

.signup-button {
    width: 5em;
    height: 3em;
    background-color: lightgray;
    font-size: 14px;
    border: none;
    border-radius: 25px;
}

.nav-bar-left {
  padding-right: 2em;
  display: flex;
  justify-content: space-between;
  flex: 0.2;
}

.nav-bar-right {
  padding-left: 2em;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex: 0.2;
}

.logout-button {
  font-size: 16px;
  border: none;
  background-color: white;
  margin: 0;
  padding: 0;
  text-align: left;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: lightgray;
}